################################################################################
# 此 .gitignore 文件已由 Microsoft(R) Visual Studio 自动创建。
################################################################################

/.vs/xstock
/xstock.lib/bin/Debug/net8.0/xstock.lib.deps.json
/xstock.lib/bin/Debug/net8.0/xstock.lib.dll
/xstock.lib/bin/Debug/net8.0/xstock.lib.pdb
/xstock.lib/obj/Debug/net8.0/ref/xstock.lib.dll
/xstock.lib/obj/Debug/net8.0/refint/xstock.lib.dll
/xstock.lib/obj/Debug/net8.0/xstock.lib.AssemblyInfo.cs
/xstock.lib/obj/Debug/net8.0/xstock.lib.AssemblyInfoInputs.cache
/xstock.lib/obj/Debug/net8.0/xstock.lib.assets.cache
/xstock.lib/obj/Debug/net8.0/xstock.lib.csproj.AssemblyReference.cache
/xstock.lib/obj/Debug/net8.0/xstock.lib.csproj.CoreCompileInputs.cache
/xstock.lib/obj/Debug/net8.0/xstock.lib.csproj.FileListAbsolute.txt
/xstock.lib/obj/Debug/net8.0/xstock.lib.dll
/xstock.lib/obj/Debug/net8.0/xstock.lib.GeneratedMSBuildEditorConfig.editorconfig
/xstock.lib/obj/Debug/net8.0/xstock.lib.genruntimeconfig.cache
/xstock.lib/obj/Debug/net8.0/xstock.lib.GlobalUsings.g.cs
/xstock.lib/obj/Debug/net8.0/xstock.lib.pdb
/xstock.lib/obj/Debug/net8.0/xstock.lib.sourcelink.json
/xstock.serv/bin/Debug/net8.0/xpay.log
/xstock.serv/bin/Debug/net8.0/xstock.lib.dll
/xstock.serv/bin/Debug/net8.0/xstock.lib.pdb
/xstock.serv/bin/Debug/net8.0/xstock.serv.deps.json
/xstock.serv/bin/Debug/net8.0/xstock.serv.dll
/xstock.serv/bin/Debug/net8.0/xstock.serv.exe
/xstock.serv/bin/Debug/net8.0/xstock.serv.pdb
/xstock.serv/obj/Debug/net8.0/ref/xstock.serv.dll
/xstock.serv/obj/Debug/net8.0/refint/xstock.serv.dll
/xstock.serv/obj/Debug/net8.0/apphost.exe
/xstock.serv/obj/Debug/net8.0/xstock.serv.AssemblyInfo.cs
/xstock.serv/obj/Debug/net8.0/xstock.serv.AssemblyInfoInputs.cache
/xstock.serv/obj/Debug/net8.0/xstock.serv.assets.cache
/xstock.serv/obj/Debug/net8.0/xstock.serv.csproj.AssemblyReference.cache
/xstock.serv/obj/Debug/net8.0/xstock.serv.csproj.CoreCompileInputs.cache
/xstock.serv/obj/Debug/net8.0/xstock.serv.csproj.FileListAbsolute.txt
/xstock.serv/obj/Debug/net8.0/xstock.serv.dll
/xstock.serv/obj/Debug/net8.0/xstock.serv.GeneratedMSBuildEditorConfig.editorconfig
/xstock.serv/obj/Debug/net8.0/xstock.serv.genruntimeconfig.cache
/xstock.serv/obj/Debug/net8.0/xstock.serv.GlobalUsings.g.cs
/xstock.serv/obj/Debug/net8.0/xstock.serv.pdb
/xstock.serv/obj/Debug/net8.0/xstock.serv.sourcelink.json
/xstock.serv/obj/project.assets.json
/xstock.serv/obj/project.nuget.cache
/xstock.serv/obj/xstock.serv.csproj.nuget.dgspec.json
/xstock.serv/obj/xstock.serv.csproj.nuget.g.props
/xstock.lib/obj/project.assets.json
/xstock.lib/obj/project.nuget.cache
/xstock.lib/obj/xstock.lib.csproj.nuget.dgspec.json
/xstock.lib/obj/xstock.lib.csproj.nuget.g.props
